<h1>Orders</h1>

<input type="number" name="order" />
<button onclick="findOrder()">Search</button>
<br>
<input type="number" name="deleteOrder">
<button onclick="deleteOrder()">Delete</button>
<br>
<h3 id="found"></h3>

<table>
	<tr>
		<th>Id</th>
		<th>Customer username</th>
		<th>Driver id</th>
		<th>Start address</th>
		<th>End address</th>
	</tr>
	{{#each orders}}
	<tr>
		<td>{{id}}</td>
		<td>{{customer_username}}</td>
		<td>{{driver_id}}</td>
		<td>{{start_address}}</td>
		<td>{{end_address}}</td>
	</tr>
	{{/each}}
</table>

<script>
	function findOrder() {
		const order = document.querySelector('input[name="order"]').value;
		const url = `/order/${order}`;

		fetch(url)
		.then(res => res.json())
		.then(data => {
			const found = document.querySelector('#found');
			if (!data) {
				found.innerHTML = 'Order not found';
			} else {
				found.innerHTML = `Order found: ${data.id} | ${data.customer_username} | ${data.driver_id} | ${data.start_address} | ${data.end_address}`;
			}
		})
		.catch(err => console.log(err));
	}

	function deleteOrder() {
		const order = document.querySelector('input[name="deleteOrder"]').value;
		const url = `/order/${order}`;

		fetch(url, {
			method: 'DELETE'
		})
		.then(res => res.json())
		.then(data => {
			const found = document.querySelector('#found');
			if (data.error) {
				found.innerHTML = 'Order not found or have an order items';
			} else {
				found.innerHTML = `Order deleted: ${data.id} | ${data.customer_username} | ${data.driver_id} | ${data.start_address} | ${data.end_address}`;
			}
		})
		.catch(err => console.log(err));
	}
</script>